.hero
    min-height: 90vh
    background: url(".././images/bg-pattern-intro-mobile.svg"), linear-gradient(-30deg, hsl(353, 100%, 62%) 0%, hsl(13, 100%, 72%) 100%)
    background-repeat: no-repeat
    background-position: 38% 38%
    border-radius: 0 0 0 100px
    @media (min-height: 960px) and (orientation: portrait)
        background-position: 50% 40%
    @media (min-width: 768px)
        background-size: 300%
    @media (min-width: 1280px)
        background: url(".././images/bg-pattern-intro-desktop.svg"), linear-gradient(-30deg, hsl(353, 100%, 62%) 0%, hsl(13, 100%, 72%) 100%)
        background-position: 29% 53%
    &__text
        &__tittle
            @include font-size(3.5rem)
            @media (min-width: 360px)
                @include font-size(4rem)
        &__description
            @media (min-width: 768px)
                @include font-size(1.3rem)
        &__buttons
            font-size: 15px
            margin-top: 40px
            @media (min-width: 768px)
                @include font-size(1rem)
            &__btn
                transition: .1s linear
            &__btn:hover
                background-color: white
                color: hsla(353, 100%, 62%, .9)!important
            &__active
                background-color: white
                color: hsla(353, 100%, 62%, .9)
                border: none!important
                transition: .1s linear
                &:hover
                    color: white
                    background-color: rgba(256, 256, 256, 0.2)
