.hero
    min-height: 95vh
    background: url(".././images/bg-pattern-intro-mobile.svg"), linear-gradient(-30deg, hsl(353, 100%, 62%) 0%, hsl(13, 100%, 72%) 100%)
    background-repeat: no-repeat
    background-position: 38% 38%
    border-radius: 0 0 0 100px
    @media (min-height: 960px) and (orientation: portrait)
        background-position: 50% 40%
    @media (min-width: 768px)
        background-size: 300%
    @media (min-width: 1280px)
        background: url(".././images/bg-pattern-intro-desktop.svg"), linear-gradient(-30deg, hsl(353, 100%, 62%) 0%, hsl(13, 100%, 72%) 100%)
        background-position: 29% 53%
    &__text
        &__tittle
            @include font-size(3.5rem)
            @media (min-width: 360px)
                @include font-size(4rem)
        &__description
            @media (min-width: 768px)
                @include font-size(1.3rem)
        &__buttons
            margin-top: 40px
            @media (min-width: 768px)
                @include font-size(1.1rem)
            &__btn
                background-color: white
                color: hsla(353, 100%, 62%, .9)
